:host {
  display: block;
  padding: 1rem;
  width: 100%;
  max-width: 400px;

  h2 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
}

.full-width {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

