:host {
  display: block;
  padding: 1rem;
  width: 100%;
  max-width: 400px;
}

.full-width {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}