<h2>Recover password</h2>

<form [formGroup]="form">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email associated to your account</mat-label>
    <input matInput formControlName="email" type="email" />
    <mat-error *ngIf="form.controls['email'].hasError('required')">
      Email is required
    </mat-error>
    <mat-error *ngIf="form.controls['email'].hasError('email')">
      Enter a valid Email
    </mat-error>
  </mat-form-field>

  <div class="actions">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="send()" [disabled]="form.invalid">
      Send
    </button>
  </div>
</form>