<div class="reset-wrapper fade-in">
  <mat-card class="reset-card">
    <h2 class="title">Restablecer contraseña</h2>

    <form [formGroup]="form" (ngSubmit)="submit()" class="reset-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nueva contraseña</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="form.controls['password'].hasError('required')">
          La contraseña es requerida
        </mat-error>
        <mat-error *ngIf="form.controls['password'].hasError('minlength')">
          La contraseña debe tener al menos 6 caracteres
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirmar contraseña</mat-label>
        <input matInput type="password" formControlName="confirm" />
        <mat-error *ngIf="form.controls['confirm'].hasError('required')">
          La confirmación es requerida
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width mt-2">
        Guardar nueva contraseña
      </button>
    </form>
  </mat-card>
</div>