<div class="reset-wrapper fade-in">
  <mat-card class="reset-card">
    <h2 class="title">Reset Password</h2>

    <form [formGroup]="form" (ngSubmit)="submit()" class="reset-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>New password</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="form.controls['password'].hasError('required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="form.controls['password'].hasError('minlength')">
          Password must be at least 6 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm password</mat-label>
        <input matInput type="password" formControlName="confirm" />
        <mat-error *ngIf="form.controls['confirm'].hasError('required')">
          Confirmation is required
        </mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary" class="full-width mt-2">
        Save New Password
      </button>
    </form>
  </mat-card>
</div>